.app-background, .page-container {
  background-image: url('general-bg.png'); /* Replace with your actual image path */
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat; /* Do not repeat the image */
  background-position: center; /* Center the image in the container */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-form {
  max-width: 400px;
  margin: auto;
  background: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}

.login-form input,
.login-form button,
.login-form .toggle-user-type {
  width: calc(100% - 40px); /* Adjust width to account for padding */
  margin-bottom: 20px; /* 20px gap between each component */
  padding: 10px;
}

.login-form input {
  border: 1px solid #ccc;
  border-radius: 25px;
}

.login-form button {
  border: none;
  border-radius: 35px;
  background-color: #00B882;
  color: white;
  cursor: pointer;
}

.login-form button:hover {
  background-color: #008B4B;
}

.login-form .submit-button {
  /* Additional styles for the submit button if needed */
}

.login-form .toggle-user-type {
  display: inline-block;
  color: gray;
  font-size: 0.8em;
  text-decoration: underline;
  cursor: pointer;
}

.login-form .toggle-user-type:hover {
  text-decoration: none;
}

.login-form h1 {
  color: #008B4B; /* Sets the text color of all <h1> elements */
}


.page-container {
  text-align: center;
  /* Add other styles as necessary */
}

.options-container {
  /* Styles for the container of the options */
  display: flex;
  justify-content: center;
  gap: 20px;
  margin: 20px 0;
}



.option-button.selected {
  transform: scale(1.1); /* Scale up when selected */
}

.option-button img {
  width: 100px; /* Adjust as necessary */
  height: auto;
}

.options-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin: 20px 0;
}

.option {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.option img {
  max-width: 100px; /* Adjust the width as needed */
  max-height: 100px; /* Set a fixed maximum height */
  height: auto; /* Maintain aspect ratio */
  object-fit: contain; /* Ensures the image fits within the dimensions */
}

.option-button {
  background-color: transparent; /* Remove background */
  border: none; /* Remove border */
  outline: none; /* Remove outline */
  height: 100px; /* Set the height of the button to ensure uniformity */
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s ease;
}

.option-description {
  margin-top: 10px;
  align-self: flex-start; /* Align descriptions independently */
}


/* Question page button */
.page-container {
  max-width: 400px;
  margin: auto;
  background: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}

.page-container button {
  border: none;
  border-radius: 35px;
  color: white;
  cursor: pointer;
  width: calc(100% - 40px); /* Adjust width to account for padding */
  margin-bottom: 20px; /* 20px gap between each component */
  padding: 10px; 
}


.page-container option-button {
  border: none;
  background: none;
  padding: 10px;
}

.page-container .next-button {
  border: none;
  border-radius: 35px;
  background-color: #00B882;
  color: white;
  cursor: pointer;
}

.page-container .next-button:hover {
  background-color: #008B4B;
}


